@media screen and (min-width : 1200px ) {
    
    .main-container_selected-watch {
        padding: 4.6rem 3rem;
    }

    h1 {
        font-size: 3rem;
    }

    .main-container_selected-watch .container_selected-watch{
        display: flex;
        justify-content: space-evenly;
        overflow-X: hidden;
    }

    .selected-watch:hover img {
        transform: scale(1.05);
        transition: 1s;
    }

    .container_selected-watch .selected-watch {
        padding: 1.8rem;
        cursor: pointer;
    }

    .classic, .luxe, .connected {
        height: 10rem;
    }

    h2 {
        font-size: 3rem;
    }

    #classic, #luxe, #connected {
        flex-direction: row;
        margin: 0 1rem;
    }

    .productCard {
        margin: 5rem 1rem;
    }

    .productCard button {
        padding: 0.5rem 1rem;
    }

    h4 {
        font-size: 1.2rem;
    }
}

