@media screen and (min-width : 900px ) {

    #navShoppingCartBtn{
        cursor: pointer;
    }

    .main-container_selected-watch {
        padding: 4.6rem 3rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    .main-container_selected-watch .container_selected-watch {
        display: flex;
        justify-content: center;
        overflow-X: hidden;
    }

    .container_selected-watch .selected-watch {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .container_selected-watch .selected-watch {
        padding: 1.8rem;
        cursor: pointer;
    }

    .classic, .luxe, .connected {
        height: 10rem;
        width: 60%;
        margin: 3rem auto 2rem;
    }

    .classic::after,
    .luxe::after,
    .connected::after {
        left: 20%;
        transform: translateX(-100%);
    }

    .classic::before,
    .luxe::before,
    .connected::before {
        right: 20%;
        transform: translateX(100%);
    }

    .classic::before, .classic::after,
    .luxe::before, .luxe::after,
    .connected::before, .connected::after {
        position: absolute;
        height: 1px;
        content: "";
        background-color: black;
        width: 20%;
    }

    h2 {
        font-size: 3rem;
    }

    #classic, #luxe, #connected {
        flex-direction: row;
        margin: 0 10% 1rem;
        width: 80%;
    }

    .productCard {
        margin: 3rem 1rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    .productsContainer h2 {
        font-size: 3rem;
    }

    footer {
        padding: 3rem;
    }

    footer a:hover {
        color: #FBFBFB;
    }

    footer .top-container_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10rem;
    }

    footer p {
        margin-bottom: 0;
    }

    footer .top-container_footer p {
        margin-bottom: 1rem;
    }

    footer .container_contact-footer {
        text-align: left;
    }

    footer .container_social-network a:hover {
        border: 1px solid #FBFBFB;
    }

    footer hr {
        width: 82%;
    }

    footer .bottom-container_footer img {
        width: 150px;
    }

    footer .bottom-container_footer .legal-mentions {
        margin: 2rem 0;
    }

    footer .container_contact-footer a:nth-child(3) {
        margin: 0.5rem 0 0.4rem 0;
    }

    .navLogoLink::after {
        left: 100%;
        transform: translateX(35%);
    }
    .navLogoLink::before {
        right: 100%;
        transform: translateX(-35%);
    }
    .navLogoLink::before, .navLogoLink::after {
        content: "";
        position: absolute;
        height: 1px;
        background-color: #37332D;
        width: 50%;
    }

/* ---------------- */
    /* Modale */
    .container-basket {
        width: 30vw;
        right: -40%;
    }

    .containerBasketActive {
        right: 0;
    }

@media(min-width: 600px){

    nav{
        justify-content:center;
    }
}
}