@font-face {
    font-family: 'Neutraface';
    src: url(../font/Neutraface/Neutraface\ Text\ Demi.otf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----Color */
/* Border color  */
/* border item{
    border: #D1D1D1 1px solid;
}
border button{
    border: #494949 1px solid;
} */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FBFBFB;
    color: #33312F;
    font-size: 18px;
    max-width: 1980px;
}

/* Price */
/* price-product{
    color: #b4b4b4;   
} */

/* color footer */
/* p, i{
    color: #A7A5A5
} */


/* -----Taille typographie */

/* text - title */
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Neutraface', sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 6rem;
}

.productsContainer h2{
    font-size: 1.8rem;
}

h3,
h4,
h5 {
    font-size: 2rem;
}


/* -----Button */
/* Button product card */
/* button{
    padding: 10px 20px;
} */

/* Button more product */
/* button{
    padding: 15px;
} */

.heroBanner {
    background-image: url('../img/heroBannerBG.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: calc(100vh - 80px);
    width: 100%;
}

/* ------------------------------ */
/* section selected watch */

.main-container_selected-watch {
    padding: 4.6rem 1rem;
}

.main-container_selected-watch .container_selected-watch {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-X: scroll;
    text-align: center;
}

h1 {
    position: relative;
    font-size: 2rem;
}

h1::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #33312F;
    position: absolute;
    bottom: -2rem;
    left: 0;
}

.container_selected-watch .selected-watch {
    margin: 6.6rem 1rem 0 1rem;
    padding: 1rem;
    border: #D1D1D1 1px solid;
}

.container_selected-watch .selected-watch img {
    margin-bottom: 20px;
    transition: 1s;
}

/* ------------------------------ */

#classic, #luxe, #connected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.classic, .luxe, .connected {
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 6rem;
    color: #fbfbfb;
    padding-left: 2rem;
    margin: 2rem 0 1.5rem 0;
}

.classic {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('../img/bgClassicSection.jpg');
}

.luxe {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('../img/bgLuxeSection.jpg');
}

.connected {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('../img/bgConnectedSection.jpg');
}

.productsContainer h2 {
    width: 100%;
}

.productCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 380px;
    margin: 2rem 0;
    border: #D1D1D1 1px solid;
    background-color: #f5f5f5;
}

.productImg {
    align-self: center;
    height: 120px;
    width: 100%;
    margin-top: 1.5rem;
    padding: 0 1.5rem;
}

.productCard img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

h4 {
    font-size: 1.5rem;
    padding: 1rem 1.5rem 0;
}

.productPrice {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    color: #b4b4b4; 
}

.productDesc {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 0.5rem 1.5rem 2rem;
    font-size: 0.8rem;
    height: 10rem;
}

.productCard button {
    background-color: #FDFDFD;
    border: #494949 1px solid;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    cursor: pointer;
    transition: 300ms;
}

.productCard button:hover {
    background-color: #3d3d3d;
    color: #fbfbfb;
}