@font-face {
    font-family: 'Neutraface';
    src: url(../font/Neutraface/Neutraface\ Text\ Demi.otf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FBFBFB;
    color: #37332D;
    font-size: 18px;
}

/* text - title */
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Neutraface', sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 6rem;
}

.productsContainer h2 {
    font-size: 1.8rem;
}

h3,
h4,
h5 {
    font-size: 2rem;
}

.heroBanner {
    background-image: url('../img/heroBannerBG.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: calc(100vh - 80px);
    width: 100%;
}

/* ------------------------------ */
/* section selected watch */

.main-container_selected-watch {
    padding: 4.6rem 1rem;
}

.main-container_selected-watch .container_selected-watch {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-X: scroll;
    text-align: center;
}

h1 {
    position: relative;
    font-size: 2rem;
}

h1::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #33312F;
    position: absolute;
    bottom: -2rem;
    left: 0;
}

.container_selected-watch .selected-watch {
    margin: 6.6rem 1rem 0 1.8rem;
    padding: 1rem;
    border: #D1D1D1 1px solid;
}

.container_selected-watch .selected-watch h3{
    margin-top: 20px;
}

.img-container{
    display: inline-block;
    overflow: hidden;
}

.img-container img{
    transition: all 3s;
   display: block;
}

.selected-watch:hover img{
  transform: scale(1.1);
}

/* ------------------------------ */

#classic,
#luxe,
#connected {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.classic,
.luxe,
.connected {
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 6rem;
    color: #fbfbfb;
    padding-left: 2rem;
    margin: 2rem 0 1.5rem 0;
}

.classic {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('../img/bgClassicSection.jpg');
}

.luxe {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('../img/bgLuxeSection.jpg');
}

.connected {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('../img/bgConnectedSection.jpg');
}

.productsContainer h2 {
    width: 100%;
}

.productCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    height: 380px;
    margin: 2rem 1rem;
    border: #D1D1D1 1px solid;
    background-color: #f5f5f5;
}

.productImg {
    align-self: center;
    height: 120px;
    width: 100%;
    margin-top: 1.5rem;
    padding: 0 1.5rem;
}

.productCard img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h4 {
    font-size: 1rem;
    padding: 1rem 1.5rem 0;
}

.productPrice {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    color: #b4b4b4;
}

.productDesc {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 0.5rem 1.5rem 2rem;
    font-size: 0.8rem;
    height: 10rem;
}

.productCard button {
    background-color: #FDFDFD;
    color: #37332D;
    border: #494949 1px solid;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    cursor: pointer;
    transition: 300ms;
    width: 60%;
}

.productCard button:hover {
    background-color: #3d3d3d;
    color: #fbfbfb;
}

/* ------------------------------ */
/* section selected watch */
footer {
    background-color: #33312F;
    text-align: center;
    padding: 3rem 1rem;
    margin-top: 1.5rem;
}

footer h5 {
    color: #FBFBFB;
    margin-bottom: 1rem;
}

footer p,
footer a {
    color: #A7A5A5;
    font-size: 1rem;
}

footer .top-container_footer p {
    margin-bottom: 1rem;
}

footer .container_social-network {
    display: flex;
    justify-content: center;
}

footer .container_social-network a {
    height: 2.8rem;
    width: 2.8rem;
    padding: 10px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A7A5A5;
    border-radius: 100%;
}

footer .container_social-network a:hover {
    border: 1px solid #FBFBFB;
}

footer a:hover {
    color: #FBFBFB;
}

footer hr {
    width: 35%;
    margin: 3rem auto;
    background-color: #A7A5A5;
    border: 1px solid #A7A5A5;
}

footer .bottom-container_footer img {
    width: 150px;
}

footer .credits {
    margin: 1rem 0;
}

footer .credits p {
    margin-top: 1rem;
}

footer .legal-mentions {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

footer .legal-mentions a {
    margin-bottom: 5px;
}


/* --------------------------------------- */
/* Modale */

.modale-background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #37332d9b;
    z-index: 1;
    display: none;
}

.modaleActive {
    display: block;
}

.container-basket {
    position: absolute;
    right: -60%;
    height: 100vh;
    width: 100vw;
    background-color: #FBFBFB;

}

.containerBasketOff {
    animation : basketclose 1s forwards;
}

@keyframes basketclose {
    0% {
        right:0;
    } 100%{
        right: -60%;
    }
}

.containerBasketActive {
    animation : basketopen 1s forwards;
}

@keyframes basketopen {
    0% {
        right:-60%;
    } 100%{
        right: 0;
    }
}

.bodyActive {
    overflow: hidden;
}

.title-basket{
    padding: 25px 20px;
    border-bottom:1px solid #33312F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-basket h5{
    text-transform: uppercase;
}
.title-basket .btn-close-modale{
    width: 50px;
    height: 50px;
    background-color: #FDFDFD;
    border:#D1D1D1 1px solid;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
    transition: 300ms;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.title-basket .btn-close-modale:hover{
    background-color: #33312F;
}

.title-basket .btn-close-modale .cross{
    font-size: 2rem;
    
}
.title-basket .btn-close-modale:hover .cross{
    color : #FDFDFD;
}

.containerItems{
    border-bottom:1px solid #33312F;
    overflow-y: scroll;
    height: calc(60vh - 101px);
}

.cartProductCard {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.ctn-title-price{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
  
}

.cartProductCard .imgCart {
    height: 100%;
}

.imgCart img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cartProductCard span {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
    color: #A7A5A5;
    margin: 10px 0;
}

.cartProductCard h4 {
   padding: 0;
    text-align:start;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.addproduct-ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.addproduct-ctn div{
    margin: 0 10px;
}

.cartProductCard button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #FBFBFB;
    border: 1px solid #A7A5A5;
    cursor: pointer;
    transition: 300ms;
}

.ctn-delete-product{
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-product{
    width: 50px;
    height: 50px;
}

.cartProductCard button:hover{
background-color: #33312F;
color: #FBFBFB;
transition: 300ms;
}

.btn-modale{
    font-size: 1.5rem;
    transition: 300ms;
    cursor: pointer;
    display: block;
    width: 90%;
    margin: 20px auto;
    padding: 20px 0;
    max-width: 25rem;
}

#continueShopping{
    background-color: #FBFBFB;
    color: #33312F;
}

#continueShopping:hover{
    background-color: #33312F;
    color: #FBFBFB;
    transition: 300ms;
}

#btnCheckout{
    background-color: #33312F;
    color: #FBFBFB;
}

#btnCheckout:hover{
    background-color: #33312fb9;

}